<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttsofts.mapper.money.MoneyCardMapper">
	<resultMap type="moneyCard" id="resultMap">
		<id property="id" column="id" javaType="java.lang.String" />
		<result property="cardId" column="cardId" javaType="java.lang.String" />
		<result property="bank" column="bank" javaType="java.lang.String" />
		<result property="accountName" column="accountName" javaType="java.lang.String" />
		<result property="loseDate" column="loseDate" javaType="java.lang.String" />
		<result property="validateId" column="validateId" javaType="java.lang.String" />
		<result property="repaymentDate" column="repaymentDate" javaType="java.lang.String" />
		<result property="money" column="money" javaType="java.lang.String" />
	</resultMap>
	<sql id="column">
		t.id,t.cardId,t.bank,t.accountName,t.loseDate,t.validateId,t.repaymentDate,t.money
	</sql>
	<select id="findByMap" parameterType="java.util.Map" resultMap="resultMap">
		select
		<include refid="column" />
		from money_card t
		<include refid="sql_where" />
	</select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from money_card t
        order by t.id desc
    </select>
    
    <select id="findByPage"  parameterType="java.util.Map" resultMap="resultMap">
        select
        <include refid="column"/>
        from
        money_card t
        order by t.accountName desc
        limit #{startRowNum},#{pageSize}
    </select>

	<select id="findByAll" parameterType="java.util.Map" resultMap="resultMap">
		select
		<include refid="column" />
		from money_card t
	</select>
	<!--查询条件 -->
	<sql id="sql_where">
		<where>
			1=1
			<if test="title != null  and title != '' ">
                <![CDATA[
		              AND t.cardid = #{cardid}
            ]]>
			</if>
		</where>
	</sql>
	<insert id="add" parameterType="moneyCard">
		insert into money_card
		(id,cardId,bank,accountName,loseDate,validateId,repaymentDate,money)
		values(#{id},#{cardId},#{bank},#{accountName},#{loseDate},#{validateId},#{repaymentDate},#{money})
	</insert>
	<update id="update" parameterType="moneyCard">
		update money_card t
		<set>
			<if test="cardId != null  and cardId != '' ">
                <![CDATA[t.cardId= #{cardId},]]>
			</if>
			<if test="bank != null  and bank != '' ">
                <![CDATA[t.bank= #{bank},]]>
			</if>
			<if test="accountName != null  and accountName != '' ">
                <![CDATA[t.accountName= #{accountName},]]>
			</if>
			<if test="loseDate != null  and loseDate != '' ">
                <![CDATA[t.loseDate= #{loseDate},]]>
			</if>
			<if test="validateId != null  and validateId != '' ">
                <![CDATA[t.validateId= #{validateId},]]>
			</if>
			<if test="repaymentDate != null  and repaymentDate != '' ">
                <![CDATA[t.repaymentDate= #{repaymentDate},]]>
			</if>
			<if test="money != null  and money != '' ">
                <![CDATA[t.money= #{money},]]>
			</if>
		</set>
		where t.id=#{id}
	</update>
	 <delete id="deleteById" parameterType="java.lang.String">
        delete from money_card where id = #{id};
    </delete>
</mapper>
